{% load pipeline %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block "title" %}{% endblock %}
        </title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap-flex.min.css"
            integrity="sha384-CK4EBuhY67FrbSPR73vSI3bibY4Cm7Yo5knhqTCR3hk/IYVGqE1SWjbOhQ9/2Uqp"
            crossorigin="anonymous"
        >
        {% stylesheet "base" %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row form-group">
                <div class="col-xs-12">
                    <nav class="navbar navbar-dark bg-inverse">
                        <ul class="nav navbar-nav">
                            {% for acc in accounts %}
                                <li
                                    class="
                                        nav-item
                                       {% if acc.pk == account.pk %}
                                           active
                                        {% endif %}
                                    "
                                >
                                    <a
                                        class="nav-link"
                                        href="{% url 'entry_list' acc.pk %}"
                                    >
                                        {{ acc.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul class="nav navbar-nav">
                            <li
                                class="
                                    nav-item
                                    {% if request.resolver_match.view_name == 'entry_list' %}
                                        active
                                    {% endif %}
                                "
                            >
                                <a
                                    class="nav-link"
                                    href="{% url 'entry_list' account.pk %}"
                                >
                                    Entries
                                </a>
                            </li>
                            <li
                                class="
                                    nav-item
                                    {% if request.resolver_match.view_name == 'stats' %}
                                        active
                                    {% endif %}
                                "
                            >
                                <a
                                    class="nav-link"
                                    href="{% url 'stats' account.pk %}"
                                >
                                    Stats
                                </a>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="{% url 'admin:index' %}"
                                >
                                    Admin
                                </a>
                            </li>
                        </ul>
                        <div class="float-xs-right">
                            <form
                                method="post"
                                enctype="multipart/form-data"
                                style="display: inline;"
                                action="{% url 'upload_csv' account.pk %}"
                            >
			        {% csrf_token %}
                                <input
                                    type="checkbox"
				    name="insert"
			        />
                                <input
                                    class="btn btn-success"
                                    type="file"
				    name="file"
				    onChange="this.form.submit()"
			        />
                            </form>
                            <a
                                class="btn btn-success"
                                href="{% url 'download_spreadsheet' account.pk %}"
                            >
                                Download Spreadsheet
                            </a>
                            <a
                                class="btn btn-danger"
                                href="{% url 'logout' %}"
                            >
                                Logout
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
            {% block "body" %}{% endblock %}
            {% if messages %}
                <div class="alerts">
                    {% for message in messages %}
                        <div
                            class="
                                alert
                                alert-dismissable
                                fade
                                in
                                alert-{{ message.level_tag }}
                                {{ message.tags }}
                            "
                            role="alert"
                        >
                            <button
                                type="button"
                                class="close"
                                data-dismiss="alert"
                                aria-label="Close"
                            >
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% javascript "global" %}
    </script>
    </body>
</html>
