{% extends "jagger/base.html" %}
{% load django_tables2 %}

{% block "body" %}
    <div class="row form-group">
        <div class="col-xs-3">
            <form>
                <div class="input-group">
                    <input
                        class="form-control"
                        placeholder="Search"
                        type="text"
                        name="search"
                        value="{{ request.GET.search }}"
                    />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            Go!
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-xs-9">
            <a
                class="btn btn-success float-xs-right"
                href="{% url 'entry_create' account.pk %}"
            >
                Add a new entry
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% render_table table "jagger/table.html" %}
        </div>
    </div>
{% endblock %}
