{% extends "jagger/base.html" %}

{% block "body" %}
    <div class="row">
        <div class="col-xs-12">
            <form method="POST">
                {% csrf_token %}
		{% comment %}
                {% for field in form %}
                    <div class="form-group row">
                        <label
                            for="example-text-input"
                            class="col-xs-2 col-form-label"
                        >
                            {{ field.label }} {{ field.widget.attrs }}
                        </label>
                        <div class="col-xs-10">
                            <input
                                class="form-control"
                                type="text"
                                value="{{ field.value }}"
                                id="id_{{ field.name }}"
                                name="{{ field.name }}"
                            >
                        </div>
                    </div>
                {% endfor %}
		{% endcomment %}
                {{ form.as_p }}
                {% if not object %}
                    <input
                        class="btn btn-success"
                        type="submit"
                        value="Enregistrer et ajouter un nouveau"
                        name="add-another"
                    />
                {% endif %}
                <input
                    class="btn btn-success"
                    type="submit"
                    value="Enregistrer"
                />
                {% if object %}
                    <a
                        class="btn btn-danger"
                        href="{% url 'entry_delete' account_id=object.account.id pk=object.pk %}"
                    >
                        Supprimer
                    </a>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
