{% extends "jagger/base.html" %}
{% load django_tables2 %}

{% block "body" %}
    <h2>Last update</h2>
    {{ account.last_entry_date }}
    <h2>Bank account balance</h2>
    {{ account.bank_balance | floatformat:2 }} €
    <h2>VAT due</h2>
    {{ account.tax_due_fr | floatformat:2 }} €
    <h2>Stats</h2>
    <pre>{{ stats }}</pre>
    <h2>Tax collected this period</h2>
    <pre>{{ tax_collected }}</pre>
{% endblock %}
