{% extends "django_tables2/table.html" %}
{% load django_tables2 %}

{% block pagination %}
    <nav aria-label="...">
        <ul class="pagination">
            {% for p in table.paginator.page_range %}
                <li
                    class="
                        page-item
                        {% if table.page.number == p %}
                            active
                        {% endif %}
                    "
                >
                    <a
                        class="page-link"
                        href="{% querystring table.prefixed_page_field=p %}"
                    >
                        {{ p }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
