{% extends "jagger/base.html" %}
{% load django_tables2 %}

{% block "body" %}
    <h2>Entries</h2>
    {% render_table table "jagger/table.html" %}
    <h2>No Match</h2>
    {% render_table no_match_table "jagger/table.html" %}
{% endblock %}
